*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

nav img{
    width: 100px;
    height: 90px;
    /* margin-left: 55px; */
}


nav{
    background-color: #1d1919;
    
}

nav .main ul{
    list-style: none;
}

nav .main  li a:hover{
    color: #ad0e23 !important;
}
  
nav  .main .no a{
    display: none;
}

nav .social a{
    color: white;
} 

nav .social a:hover{
     color: #ad0e23 !important;
} 


.home{
    position: relative;
}

.home img{
    height:100%;
    width: 100%; 
}
.home h1{
    position: absolute;
    z-index: 1;
    top: 30%;
    left: 8%;
    color: #ad0e23;
    font-size: 100px;
    text-transform: uppercase;
    
}

.home p{
    position:absolute;
    top: 26%;
    left: 18%;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.why-us {
    text-align: center;
    margin: 50px;
    
}

.why-us h2{
    font-size: 40px;
    font-weight: bold;
}

/* .why-us .container{
    margin: 50px;

} */

.container a{
     box-sizing: border-box;
     color: gray;
}

 .container  a:hover {
    color: #ad0e23 !important;
}

.offer  {
    text-align: center;
    background: #1d1919;
    /* color: white; */
    padding-top: 30px;

    padding-bottom: 60px;
    

}
.offer .container .h2{
    font-size: 35px;
    font-weight: 300px;
    
}

.offer .container .card{
    margin-top: 25px;
}
.offer .container .card .card-body{
    color: white;
    background-color: #382724;
}

.trainers{
    margin: 50px;
}
.trainers h2{
    text-align: center;
    font-size:35px ;
    font-weight: bold;
}


.trainers .col-lg-3{
    
    text-align: center;
}

.trainers .col-lg-3 img{
    margin-top: 25px;
    border-radius: 100px;
}


.pricing {
    background: #1d1919;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 45px;
    color: white;
    
}



.pricing h3{
    padding-bottom: 35px;
    font-size: 32px;
}



.pricing .price h2{
    color: #ad0e23;
    font-size: 55px;
}

.pricing .price span{
    font-size: 15px;
    font-weight: bold;
}

.pricing .list{
    padding: 10px 5px;
    line-height: 30px;
    list-style: none;
}

.pricing button{
    margin-top: 6px;

}

.pricing button:hover{
    color: white;
    background-color:#ad0e23 ;

}


footer {
    background-color:#343a40;
    color: white;
    text-align: center;
    padding: 25px 25px;
    
    
}

footer h4{
    margin-top: 45px;
}

footer  ul li {
    list-style: none;
    color: black;
}
 

footer  ul li a{
    color: red;
}


/* Home page ends */



/* About us sec */

.about-us .home-1  {
   background-color: rgb(10, 10, 10);
 
  
    text-align:center;
    /* padding: 50px 500px; */
    align-items: center;
    padding-bottom: 100px;
   
}

.about-us .home-1 h1{
    padding-top:50px;
    color: white;
    font-size: 65px;
}

.about-us .trainers{
    margin: 50px;
}
.about-us .trainers h2{
    text-align: center;
    font-size:35px ;
    font-weight: bold;
}

 
.about-us .trainers .col-lg-3{
    text-align: center;
}

.about-us .trainers .col-lg-3 img{
    margin-top: 25px;
    border-radius: 100px;
}

/* .about-us footer{
    margin-top: 185px;
} */

.about-us .care h2{
    font-size: 45px;
    text-align: center;
    padding-top: 25px;
}


.about-us .care .row{
    padding-top: 65px;
}

.about-us .care span{
    background-color: #ad0e23;
}

.contact-us .form{
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}


/* media Queries */

 @media only screen and (max-width: 991px){ 

nav .social i{
    display: none;
}

nav  .main .no a{
    display: inline;
}
.about-us .social i{
    display: none;
}


.about-us .main .no a{
    display: inline;
}

} 


@media only screen and (max-width: 880px){
    .home h1{
        font-size: 50px;
    }

    .home p{
        font-size: 15px;
    }
}